* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eeeef5;
}
.header hr {
   width: 150px;
   height: 20px;
   background-color: black;
}
.todo__app {
    width: 60%;
    height: auto;
    background-color: #fff;
    margin: 50px auto;
}
.active {
    color: red;
}